@import "tailwindcss";

@layer base {
  html, body {
    font-family: 'BiauKai', 'DFKai-SB', 'Kaiti TC', serif;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: auto;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
  }
}
